* {
    margin: 0;
    padding: 0;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /* z-index: 0; */
}

.logo-header img {
    width: 120px;
    position: relative;
    top: 0;
    margin: 0;
    right: 80px;
    
}

.header, 
.navigation-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation-header a:hover{
    background-color: #e00b0b; 
    color: white;  
   }

.header {
    position: relative;
    background-color: rgb(240, 240, 240) ;
    height: 4em;
    justify-content:space-between;
    padding: 0 10%;
    display: flex;
    align-items: center;
    box-shadow: 0px  5px 15px  rgba(0, 0, 0, 0.2);   
    /* z-index: 1000; */
}

.navigation-header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: transparent;
    padding: 1px 8px;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: medium;
    font-weight: bold;

}

#home{
    color: white;
    background-color: #e00b0b;
}

.navigation-header {
    gap: 2.99em;
}

.main {
    background: url(../img/teste-bg4.jpg) no-repeat;
    background-size:cover ;
    background-position: center;
}
/* cards */
.hero {  /* primeira parte */
    height: 300px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text {
    text-align: center;
}
 
.hero-text h1 {
    font-size: 3em;
}
 
.hero-text p {
    font-size: 1.2em;
}
/* botao */
.btn {
    background: #000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    margin-top: 210px;
}

/* cards */
.services {
    padding: 40px 20px;
    text-align: center;
}
 
.service-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}
 
.card h3 {
    color: #e50000;
}
 
.card a {
    text-decoration: none;
    color: #e50000;
    font-weight: bold;
}
.card:hover {
    background: #a5a2a2ad; 
  }
 
.status {
    background: #f0f0f0;
    padding: 40px 20px;
    text-align: center;
}
.status-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* RUBI */
.line-status {
    background: #99074bc9;  
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.514);
}

/* efeito hover dos cards status */
.line-status:hover {
    background: #880f47c9;   
  }

/*========================================*/


/* JADE */
.line-status1 {
    background: #14bd3ea9;  /* jade*/
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    font-size: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.514);
    
    
}
.line-status1:hover {
    background: #04701fbd;  /* jade*/
  }

/*========================================*/

/* SAFIRA */

  .line-status2 {
    background: #072986c5; 
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.514);
}

.line-status2:hover {
    background: #0a2263ab;  
  }

/*========================================*/

/* TURQUESA */
  .line-status3 {
    background: #068c91b9; 
    padding: 20px;
    border-radius: 10px;
    width: 250px; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.514);
}

.line-status3:hover {
    background: #04767ab9; 
  }

/*========================================*/

/* CORAL */

  .line-status4 {
    background: #f0692a;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.514);
    
}

.line-status4:hover {
    background: #d3571e;  
  }

/*========================================*/

/* DIAMANTE */

  .line-status5 {
    background: #807f7fe5; 
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.514);
}

.line-status5:hover {
    background: #949393e5; 
  }

/* FIM HOVER DOS CARDS */
/*========================================*/

  /* hover do texto */ 

  .title1:hover{
    font-weight: bolder;
    color: #ffffff;
    text-transform: uppercase;
}

.title2:hover{
    font-weight: bolder;
    color: #ffffff;
    text-transform: uppercase;

}

.title3:hover{
    font-weight: bolder;
    color: #ffffff;
    text-transform: uppercase;
}

.title4:hover{
    font-weight: bolder;
    color: #ffffff;
    text-transform: uppercase;
}

.title5:hover{
    font-weight: bolder;
    color: #ffffff;
    text-transform: uppercase;
}

  /* diamante*/
.title6:hover{
    font-weight: bolder;
    color: #ffffff;
    text-transform: uppercase;

}

/* footer */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
/* importar a fonte do google*/
:root{
    --color-neutral-0: rgb(177, 175, 175); /*fundo */
    --color-neutral-10: #000000;  /* cor da letra*/
    --color-neutral-30: #971616;  /*HOVER */
    --color-neutral-40: #fcfcfc; /* cor do icone*/
    
}

footer{
    width: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif; 
    margin: 0;
    padding: 0; /* remove os espaçamentos*/
    box-sizing: border-box;
    letter-spacing: 1px;
}
#footer_content{
    background: linear-gradient(#f07470,  #dc1c13, #f81205);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr); /* coloca a qntd de colunas*/
    padding: 3rem 3.5rem; /* espaçamento*/
}

.footer-link{
    text-decoration: none; /* remove o link*/ 
   
}

.footer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

#copyr{
    font-size: xx-small;
    padding-top: 5px;
}

#text1{
    font-size: 1ch;
}

#footer_contacts h4{
     font-weight: 900;
     margin-bottom: 0.75rem;
     display: flex;
     justify-content: center;
     align-items: center;
}
#footer_social_media{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}
/*
main{  é usado p caso queira mandar p baixo
   
} */
#footer_social_media .footer-link{
    display: flex; /* CENTRALIZA */
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 60%;
    transition: all 0.6s;
}
#footer_social_media .footer-link:hover{
    opacity: 0.8;
}
#instagram{
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}
#facebook{
    background: linear-gradient(#1800f1, #0400db, #0024f3);
}
#whatsapp{
    background: linear-gradient(#06963d, #23ca4d, #29a548);
}

.footer_logo_container{
    background-color: #000;
    height: auto;
    display: flex;
}

.footer-list{
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 25%; 
    gap: 0.75rem;
    list-style: none;
} 

.footer_logo_container .footer-link{
    text-decoration: none; /* remove o link*/
    color: white; 
    font-size: 1ch;
    text-transform: uppercase;
}

.footer_logo_container .footer-link:hover{
    padding: 3px 5px;
    background-color:  #e00b0b; 
    border-radius: 10px;
}

#logo-governo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;   
} 

/* responsividade*/
@media screen and (max-width: 768px){
    #footer_content{
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
    }
}
